<div class="sidebar-nav">
    <nav class="navbar fixed-top navbar-background">
        <div class="container side-navigation-bar__container">
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="fa fa-bars menu-icon"></span>
            </button>
  
            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div>
                    <ul class="navbar-nav">
                        <li><a href="#" class="side-navigation-bar__menu-item-icon"><i class="fa fa-home"></i><span class="side-navigation-bar__menu-item-text">Home</span></a></li>
                        <li><a href="#" class="side-navigation-bar__menu-item-icon"><i class="fa fa-car"></i><span class="side-navigation-bar__menu-item-text">Cars</span></a></li>
                        <li><a href="#" class="side-navigation-bar__menu-item-icon"><i class="fa fa-list"></i><span class="side-navigation-bar__menu-item-text">My Subscriptions</span></a></li>
                        <li><a href="#" class="side-navigation-bar__menu-item-icon"><i class="fa fa-info-circle"></i><span class="side-navigation-bar__menu-item-text">About Us</span></a></li>
                        <li><a href="#" class="side-navigation-bar__menu-item-icon"><i class="fa fa-street-view"></i><span class="side-navigation-bar__menu-item-text">Network</span></a></li>
                        <li><a href="#" class="side-navigation-bar__menu-item-icon"><i class="fa fa-phone-square"></i><span class="side-navigation-bar__menu-item-text">Help/Support</span></a></li>
                    </ul>
              </div>
            </div>
  
            <div class="btn-group">
                <!-- <a href="#" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="usericon"><i class="bi bi-person-circle"></i></span>
                    <span class="textnone">Jassa</span>
                </a> -->
                <!-- <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button"><i class="bi bi-lock-fill"></i> Change Password</button></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-gear-fill"></i> Admin Setion</button></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-gear-wide-connected"></i> IMAP Settings</button></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item" type="button"><i class="bi bi-box-arrow-right"></i> Sign out</button></li>
                </ul> -->
                <button class="btn btn-primary">Sign In</button>
                <button class="btn btn-primary sign-up-button">Sign Up</button>
            </div>
  
        </div>
    </nav>
  </div>