@import '../../variables.scss';

.sign-up {
    margin-top: 80px;
    .form-field-width {
        width: 350px;
    }
    .sign-up-control {
        height: 45px;
    }
    .subheading {
        margin-bottom: 20px;
    }
    .sign-in-here-link {
        color: $secondary-color;
        cursor: pointer;
        &:hover  {
            text-decoration: underline;
        }
    }
    .or-label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}