<div class="sign-up text-center">
    <div>
        <h1>Sign Up</h1>
    </div>
    <div class="subheading"><span>Already a member? </span><span class="sign-in-here-link">Please sign in here.</span>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field appearance="outline" class="form-field-width">
                <mat-label>Name</mat-label>
                <mat-placeholder class="placeholder">Enter your name</mat-placeholder>
                <input type="text" id="name" matInput [(ngModel)]="user.name" formControlName="name">
                <mat-error *ngIf="errorHandling('name', 'required')">
                    Name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="form-field-width">
                <mat-label>Email Address</mat-label>
                <mat-placeholder>Enter your email address</mat-placeholder>
                <input type="email" id="email" matInput [(ngModel)]="user.email" formControlName="email">
                <mat-error *ngIf="errorHandling('email', 'required')">
                    Email address is required
                </mat-error>
                <mat-error *ngIf="errorHandling('email', 'email')">
                    Email address is not correct (Example: abc@something)
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="form-field-width">
                <mat-label>Phone Number</mat-label>
                <mat-placeholder>Enter your phone number</mat-placeholder>
                <input type="tel" id="phoneNumber" matInput [(ngModel)]="user.phoneNumber"
                    formControlName="phoneNumber">
                <mat-error *ngIf="errorHandling('phoneNumber', 'required')">
                    Phone number is required
                </mat-error>
                <!-- <mat-error *ngIf="errorHandling('phoneNumber', 'email')">
                    Phone Number is not correct. (Example: 8888888888 or 088888888 or +91-88888888)
                </mat-error> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="form-field-width">
                <mat-label>Password</mat-label>
                <mat-placeholder>Enter your password</mat-placeholder>
                <input type="password" id="password" matInput [(ngModel)]="user.password" formControlName="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="form-field-width">
                <mat-label>Confirm Password</mat-label>
                <mat-placeholder>Confirm your password</mat-placeholder>
                <input type="password" id="confirmPassword" matInput [(ngModel)]="user.password"
                    formControlName="password">
            </mat-form-field>
        </div>
        <div>
            <button type="submit" class="btn btn-primary form-field-width sign-up-control">Sign up now</button>
        </div>
    </form>
    <div class="or-label">or</div>
    <div>
        <button type="button" (click)="loginWithGoogle()" class="btn btn-danger form-field-width sign-up-control">Sign up with Google</button>
    </div>
</div>