@import "variables.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-btn-primary {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
  color: $white !important;
  border-radius: 5px !important;
  padding: 5px 15px !important;

  &:focus {
    box-shadow: none !important;
  }
}
